[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
aiohttp = "*"
beautifulsoup4 = "*"
asyncpg = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
